<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<servers>
		<server>
			<id>nexus-deployment-releases</id>
			<username>${nexus.user}</username>
			<password>${nexus.password}</password>
		</server>
		<server>
			<id>nexus-deployment-snapshots</id>
			<username>${nexus.user}</username>
			<password>${nexus.password}</password>
		</server>
		<server>
			<id>nexus-deployment-sites</id>
			<username>${nexus.user}</username>
			<password>${nexus.password}</password>
		</server>
	</servers>

	<pluginGroups>
		<pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
	</pluginGroups>

	<profiles>
		<profile>
			<id>sonar</id>
			<activation>
				<activeByDefault>false</activeByDefault>
			</activation>
			<properties>
				<sonar.host.url>http://10.21.142.132:9000/</sonar.host.url>
				<sonar.login>${sonar.user}</sonar.login>
				<sonar.password>${sonar.password}</sonar.password>
				<sonar.jdbc.url>jdbc:mysql://10.21.142.132:3306/sonar</sonar.jdbc.url>
				<sonar.jdbc.username>sonar</sonar.jdbc.username>
				<sonar.jdbc.password>sonar123</sonar.jdbc.password>
				<sonar.jdbc.driver>com.mysql.jdbc.Driver</sonar.jdbc.driver>
			</properties>
		</profile>
		<profile>
			<id>nexus-repos</id>
			<pluginRepositories>
				<pluginRepository>
					<releases>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>central</id>
					<name>Central Repository</name>
					<url>https://lx-cisind001.aeat.allianz.at:8443/nexus/content/repositories/central/</url>
				</pluginRepository>
				<pluginRepository>
					<releases>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>jboss</id>
					<name>JbossPublic Repository</name>
					<url>https://lx-cisind001.aeat.allianz.at:8443/nexus/content/repositories/JbossPublic/</url>
				</pluginRepository>
				<pluginRepository>
					<releases>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>spring</id>
					<name>Spring Repository</name>
					<url>https://lx-cisind001.aeat.allianz.at:8443/nexus/content/repositories/Spring/</url>
				</pluginRepository>
				<pluginRepository>
					<releases>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>jbosstechpreview</id>
					<name>Spring Techpreview Repository</name>
					<url>https://lx-cisind001.aeat.allianz.at:8443/nexus/content/repositories/JbossTechpreviewAll/</url>
				</pluginRepository>
				<pluginRepository>
					<releases>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<id>sonatype</id>
					<name>SonaType</name>
					<url>https://lx-cisind001.aeat.allianz.at:8443/nexus/content/repositories/SonaType/</url>
				</pluginRepository>
				<pluginRepository>
					<releases>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>thridparty</id>
					<name>thridparty</name>
					<url>https://lx-cisind001.aeat.allianz.at:8443/nexus/content/repositories/thridparty/</url>
				</pluginRepository>
			</pluginRepositories>
			<repositories>
				<repository>
					<id>central</id>
					<url>https://lx-cisind001.aeat.allianz.at:8443/nexus/content/repositories/central/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>jboss</id>
					<url>https://lx-cisind001.aeat.allianz.at:8443/nexus/content/repositories/JbossPublic/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>spring</id>
					<url>https://lx-cisind001.aeat.allianz.at:8443/nexus/content/repositories/Spring/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>jbosstechpreview</id>
					<url>https://lx-cisind001.aeat.allianz.at:8443/nexus/content/repositories/JbossTechpreviewAll/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>sonatype</id>
					<url>https://lx-cisind001.aeat.allianz.at:8443/nexus/content/repositories/SonaType/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>thirdparty</id>
					<url>https://lx-cisind001.aeat.allianz.at:8443/nexus/content/repositories/thirdparty/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>allianz</id>
					<url>https://lx-nex001.aeat.allianz.at:8443/nexus/content/repositories/allianz/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>

			</repositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>nexus-repos</activeProfile>
	</activeProfiles>
</settings>
